<!-- Log in Modal -->
<div ng-controller="ModalDemoCtrl">
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Please Log In</h3>
    </div>
    <div class="modal-body">
      <a href="/auth/google" class="btn-google-plus"><span class="fa fa-google-plus"></span> Sign In With Google</a>
    </div>
  </script>
</div>