<!DOCTYPE html>
<html ng-app="budgetApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>A New Startup: Sign Up Today!</title>

    <!-- Javascripts -->
    <script src="../static/jquery/jquery.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>

    <script src="../static/js/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="../static/js/controlers.js"></script>
    <script src="../static/js/services.js"></script>
    <script src="../static/js/app.js"></script>




    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/theme/flatly/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body ng-controller="homeController">

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Press</a></li>
        </ul>
        <h3 class="text-muted">GEL</h3>
      </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks</h3>
      </div>

      <div class="panel-body" ng-repeat="task in tasks">
        <div class="task">{{ task.name }} | {{ task.member.join() }} | {{ task.deadline }}</div>
      </div>

    </div>


      <div class="footer">
        <p>&copy; GEL - Group Empowered Learning</p>
      </div>

      <!-- Log in Modal -->
      <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="signupModal">
          <div class="modal-header">
            <h3 class="modal-title">Please Log In</h3>
          </div>
          <div class="modal-body">
            <a href="/auth/google" class="btn btn-block btn-social btn-danger"><span class="fa fa-google-plus"></span> Sign In With Google</a>
          </div>
        </script>
      </div>

  </body>
</html>
